* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 583px;
    height: 374px;
}

h2 {
    color: #ffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-top: 126px;
    margin-bottom: 26px;
}

input {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 302px;
    height: 54px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 42px;
    padding-left: 32px;
    color: rgba(255, 255, 255, 1);
}

.input-entre {
    margin-right: 62px;
}

button {
    width: 342px;
    height: 72px;
    border-radius: 16px;
    background: rgba(174, 195, 70, 1);
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    margin-top: 84px;
    color: #ffff;
    font-weight: 500;
    font-size: 36px;
   margin-left: 169px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
opacity: 0.7;
}